/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --color-black: #000000;
    --color-white: #FFFFFF;

    /* Gray Shades */
    --gold-50: #FFF9DB;  /* Very Light Gold */
    --gold-100: #FFF1B8; /* Light Gold */
    --gold-200: #FFE793;
    --gold-300: #FFDD6E;
    --tan: #CFB284;
    --dark-vanilla: #DFCAA0;
    --banana-mania: #F6E3BA;
    --blanched-almond: #FFEFCB;
    --cosmic-latte: #FFFDE7;
    --conditioner: #FFFCC7;
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url('/IBMPlexMono-Medium.ttf') format('ttf'),
         url('/IBMPlexMono-Medium.ttf') format('woff');
  }
  .ibm-font {
    font-family: 'IBM Plex Mono', monospace;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .tan-bg {
    background-color: var(--tan);
}
  .nav-link {
    transition: color 0.3s ease;
    font-size: 14px;
  }

  .nav-link:hover {
    color: var(--gold-300); 
  }

  .nav-link.active {
    font-weight: bold;
 
  }
  @keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .fadeInScaleUp {
    animation: fadeInScaleUp 2s ease-in-out forwards;
  }
  
  input[type="date"].placeholder::before {
    content: 'Pick a date';
    color: #ccc;
  }
  

  input[type="date"].placeholder:focus::before {
    content: '';
  }
  .activeStatus {
    background-color: #e6eef8; /* Example color - adjust as needed */
    width: 100%;
    padding: 4px ;
    border-radius: 3px;
    font-weight: bold;
    /* Add other styles as needed to highlight the active link */
  }
  .bg-request{
    background-color:#576574 ;
  }
  .bg-authenticated{
    background-color:#FF9F43;
  }
  .bg-validated{
    background-color:#5F27CD ;
  }
  .bg-approved{
    background-color:#10AC84 ;
  }
  .bg-image-1{
    background-image: url('/PIA02656.jpg') ;
    background-size: cover;
   
  }
  .special-font{
    mix-blend-mode: exclusion;
  }
  .bg-finalised{
    background-color:#2E86DE;
  }
}